doctype html
html
  head
    title Car Rental App
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Car Rental Management
    nav
      a.btn(href="/bookings") Bookings
      a.btn(href="/cars") Cars
      a.btn(href="/customers") Customers
    hr
    block content
