extends ../layout

block content
  .auth-container
    h2 Login
    form(method='POST', action='/login')
      label(for='email') Email
      input(type='email', name='email', required)
      label(for='password') Password
      input(type='password', name='password', required)
      button(type='submit') Login
    p
      | Don’t have an account? 
      a(href='/signup') Sign up
